//- fallbacks
-
  if (!title) title = '3d.io'
  if (!description) description = 'Toolkit for 3d interior web apps.'
  var image = urlPathRoot+'/img/social.png'

//- classics
title #{title}
meta(charset='utf-8')
meta(name='description', content=description)
meta(name='publisher', content='https://archilogic.com')
meta(name='name', content=title)
meta(name='image', content=image)
meta(name='theme-color', content='#ffffff')

//- AVOIDS PAGE BEING CACHED BY BROWSER
//- TODO: REMOVE THIS ONCE PAGE CONTENT IS MORE STABE (SEE ISSUE #16)
meta(http-equiv='pragma', content='no-cache')
meta(http-equiv='expires', content='0')
//- AVOIDS PAGE BEING CACHED BY BROWSER

//- mobile
meta(name='viewport', content='width=device-width, initial-scale=1')

//- icons
link(rel='shortcut icon' href=urlPathRoot+'/favicon.ico')
link(rel='icon', type='image/png', href=urlPathRoot+'/img/favicon-black-16px.png', sizes='16x16')
link(rel='icon', type='image/png', href=urlPathRoot+'/img/favicon-black-32px.png', sizes='32x32')
link(rel='icon', type='image/png', href=urlPathRoot+'/favicon.png', sizes='48x48')
link(rel='icon', type='image/png', href=urlPathRoot+'/img/favicon-black-64px.png', sizes='64x64')
link(rel='icon', type='image/png', href=urlPathRoot+'/img/favicon-black-128px.png', sizes='128x128')
link(rel='icon', type='image/png', href=urlPathRoot+'/img/favicon-black-192px.png', sizes='192x192')
link(rel='apple-touch-icon' href=urlPathRoot+'/img/apple-touch-icon-180px.png')

//- open graph
meta(property='og:site_name' content=title)
meta(property='og:title' content=title)
meta(property='og:description' content=description)
meta(property='og:type' content='website')
meta(property='og:url' content='https://3d.io')
meta(property='og:locale' content='en')

//- twitter
meta(property='twitter:card' content='summary_large_image')
meta(property='twitter:site' content='@archilogic3d')
meta(property='twitter:title' content=title)
meta(property='twitter:description' content=description)
meta(property='twitter:image' content=image)
meta(property='twitter:domain' content='3d.io')
meta(property='twitter:domain' content='3d.io')

//- scripts
script(src=urlPathRoot+'/js/jquery-3.2.1.min.js')
script(src=urlPathRoot+'/js/main.js')

//- fonts
link(href=urlPathRoot+'/font/fira/fira-mono.css', rel='stylesheet')
link(href=urlPathRoot+'/font/fira/fira-sans.css', rel='stylesheet')
link(href=urlPathRoot+'/font/roboto/roboto-condensed.css', rel='stylesheet')

//- stylesheets
link(href=urlPathRoot+'/css/common.css', rel='stylesheet')
