//- fallbacks
-
  if (!title) title = '3d.io'
  if (!description) description = 'Toolkit for 3d interior web apps.'
  var image = urlPathRoot+'/img/meta/social.png'
  var url = 'https://3d.io'
  var domain = '3d.io'
  var keywords = '3d.io, 3d, toolkit, applications, 3d interior, interior, web app, aframe'

//- classics
title #{title}
meta(charset='utf-8')
meta(name='description' content=description)
meta(name='publisher' content='https://archilogic.com')
meta(name='name' content=title)
meta(name='image' content=image)
meta(name='theme-color' content='#ffffff')
meta(name='keywords' content=keywords)

//- AVOIDS PAGE BEING CACHED BY BROWSER
//- TODO: REMOVE THIS ONCE PAGE CONTENT IS MORE STABE (SEE ISSUE #16)
meta(http-equiv='pragma' content='no-cache')
meta(http-equiv='expires' content='0')
//- AVOIDS PAGE BEING CACHED BY BROWSER

//- mobile
meta(name='viewport' content='width=device-width, initial-scale=1')

//- icons
link(rel='shortcut icon' href=urlPathRoot+'/favicon.ico')
link(rel='icon' href=urlPathRoot+'/favicon.png' sizes='48x48' type='image/png')
link(rel='icon' href=urlPathRoot+'/img/meta/favicon-black-16px.png' sizes='16x16' type='image/png')
link(rel='icon' href=urlPathRoot+'/img/meta/favicon-black-32px.png' sizes='32x32' type='image/png')
link(rel='icon' href=urlPathRoot+'/img/meta/favicon-black-64px.png' sizes='64x64' type='image/png')
link(rel='icon' href=urlPathRoot+'/img/meta/favicon-black-128px.png' sizes='128x128' type='image/png')
link(rel='icon' href=urlPathRoot+'/img/meta/favicon-black-192px.png' sizes='192x192' type='image/png')
link(rel='apple-touch-icon' href=urlPathRoot+'/img/meta/apple-touch-icon-180px.png' type='image/png')

//- open graph
meta(property='og:site_name' content=title)
meta(property='og:title' content=title)
meta(property='og:description' content=description)
meta(property='og:type' content='website')
meta(property='og:url' content=url)
meta(property='og:locale' content='en')

//- twitter
meta(property='twitter:card' content='summary_large_image')
meta(property='twitter:site' content='@archilogic3d')
meta(property='twitter:title' content=title)
meta(property='twitter:description' content=description)
meta(property='twitter:image' content=image)
meta(property='twitter:domain' content=domain)
meta(property='twitter:domain' content=domain)

//- scripts
script(src=urlPathRoot+'/js/jquery-3.2.1.min.js')
script(src=urlPathRoot+'/js/main.js')

//- fonts
link(href=urlPathRoot+'/font/fira/fira-mono.css' rel='stylesheet')
link(href=urlPathRoot+'/font/fira/fira-sans.css' rel='stylesheet')
link(href=urlPathRoot+'/font/roboto/roboto-condensed.css' rel='stylesheet')

//- stylesheets
link(href=urlPathRoot+'/css/common.css' rel='stylesheet')
