extends main.pug


block head
  link(href=urlPathRoot+'/css/md-wrapper.css', rel='stylesheet')
  link(href=urlPathRoot+'/css/partner-profile-page.css', rel='stylesheet')

block content

  #intro.container
    .row
      .twelve.columns
        p Certifier Partner of 3d.io
        .logo-container
          .bg(style=`background: ${partner.LOGO_BG_COLOR};`)
          .logo(style=`background-image: url('${partner.LOGO}');`)
        h1=partner.NAME
        if partner.TAGLINE
          h3!=partner.TAGLINE
        if partner.DESCRIPTION
          .description!=partner.DESCRIPTION
        .badges
          a(href='mailto:'+partner.EMAIL).badge.contact Email
          if partner.URL
            a(href=partner.URL target='_blank').badge.website Website
        if partner.IMAGE
          img(src=partner.IMAGE).image

  if partner.EXAMPLES
    #examples.container
      .row
        .twelve.columns
        h2 Example Projects
      .row
        each example in partner.EXAMPLES
          .four.columns.example
            .image
              a(href=example.URL)
                img(src=example.IMAGE)
                .play-button
            if example.TITLE
              h3=example.TITLE
            if example.DESCRIPTION
              p!=example.DESCRIPTION
            if example.PRICE
              -
                var orderLink = `mailto:${partner.EMAIL}` + encodeURI(`?subject=Offer Request&body=Hi

                I'm interested in an offer for a project similar to "${example.TITLE}" (Pricing starting at $ ${example.PRICE}).

                Best wishes`)
              a(href=orderLink)
                .order Order for $ #{example.PRICE}+

  #additional-content.container
    .row
      .twelve.columns !{content}

  .container
    .row
      .twelve.columns
        p
          a(href='/floor-plan-to-3d-conversion.md') Read more about how Certified Partners and 3d.io work together