extends pug-common/main.pug


block head
  link(href='css/index-page.css', rel='stylesheet')


block content
  .container
    .row#title-row
      .six.columns
        <svg class="spacer" xmlns="http://www.w3.org/2000/svg" style="width:100%;" viewBox="0 0 500 60"></svg>
        img(src='img/3d-io-logo-large.svg', style='width: 100%; max-width: 300px; margin: 15px 0 15px 0;')
        br
        <svg class="spacer" xmlns="http://www.w3.org/2000/svg" style="width:100%;" viewBox="0 0 500 50"></svg>
        a(href='https://base-for-aframe.glitch.me/about') Build apps
        a(href='https://spaces.archilogic.com/order') Publish 3d models
      .six.columns
        //- title pic
        #title-pic
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 978 932"></svg>
          .mask
            img(src='img/title-pic-plan.png')#title-pic-plan
            img(src='img/title-pic-arch.png')#title-pic-arch
            img(src='img/title-pic-furniture.png')#title-pic-furniture
    .row#claims
      .four.columns
        h2 Instant Content
        p Focus on creation by remixing <a href="https://spaces.archilogic.com/products">beautifully crafted 3d models</a> of real furniture and scenes from our wast data sets. To keeps things simple we packaged all of that into <a href="https://github.com/archilogic-com/base-for-aframe">open sourced A-Frame components</a>. Simply <a href="https://base-for-aframe.glitch.me/about">give it a try</a> and even <a href="https://docs.archilogic.com/en/tutorials/custom-3d-content/index.html">import your own 3d models via drag&drop</a> or <a href="">API</a>. You have a good old 2D floor plan? Perfect: we <a href="https://spaces.archilogic.com/order">convert it to 3D for free</a>.
      .four.columns
        h2 Cloud Services
        p Leverage your webGL apps with scalable preprocessing in our cloud: <a href="https://docs.archilogic.com/en/3d-editor/lighting/">bake lightmaps</a>, <a href="https://docs.archilogic.com/en/3d-editor/materials/">create texture-sets</a>, <a href="">apply 3d filters</a> or furnish a room in seconds using <a href="">virtual staging AI</a>. Boost your app performance using environment adapted textures and shaders, progressive loading, caching and preprocessing.
      .four.columns
        h2 Partner Network
        p We are facing an overwhelming demand for VR and 3d apps from innovation ready architects, real estate brokers, marketing agencies and city planners. To establish synergies amongst peers we’ve decided to open our <a href="https://spaces.archilogic.com/partners">exclusive partner network</a> to qualified app builders and content creators <a href="https://spaces.archilogic.com/partners">Apply today</a>.

  .container#use-cases
    .row
      .twelve.columns
        h2 Use Cases
    .row
      .six.columns
        .example
          a(href='use-case/designer-portfolio-augmented-vr.md')
            img(src='img/use-case-portfolio.jpg', style='margin-top: 20px; width: 100%;')
            p Designer Portfolio in Augmented VR
      .six.columns
        .example
          a(href='use-case/a-frame-app-with-lightmaps.md')
            img(src='img/use-case-a-frame.jpg', style='margin-top: 20px; width: 100%;')
            p Content Rich A-Frame App with Lightmaps
    .row
      .six.columns
        .example
          a(href='use-case/virtually-staged-3d-scan.md')
            img(src='img/use-case-virtual-staging-3d-scan.jpg', style='margin-top: 20px; width: 100%;')
            p Virtually Staged 3D Scan
      .six.columns
        .example
          a(href='use-case/floor-plan-converted-to-editable-3d-model.md')
            img(src='img/use-case-converted-floorplan.jpg', style='margin-top: 20px; width: 100%;')
            p Floor Plan Converted to Editable 3D Model

  .container#products
    //- Read products json and extract data for use in template
    -
      var productsJson = require('../src/products.json')
      function getByCategory(category) {
        return productsJson.products.reduce(function(a, b){
          return b.category === category ? a.concat(b) : a
        }, [])
      }
      var experiences = getByCategory('experiences')
      var content1 = getByCategory('content').slice(0,5)
      var content2 = getByCategory('content').slice(5)

    //- Mixin (html template for product lists
    mixin productList(products)
      each p in products
        .product
          .left
            .icon(class=p.category)
              if p.icon
                img(src=p.icon)
          .right
            h4= p.title
            .badges
              if p.app.url
                a(href=p.app.url, target='_blank').app App
              if p.api.url
                a(href=p.api.url).api API
              if !p.app.url && !p.api.url
                | (coming soon)

    //- list products
    .row
      .twelve.columns
        h2 Products
    .row
      .seven.columns
        p Building blocks doing one thing at a time an do it well, not a framework but libs and services you can freely combine and mix with other stuff.
        p(style='margin-bottom:0px;') <a href="docs/1/index.md"> API Reference</a> | <a href="technology.md">Our Tech Philosophy</a>
    .row.list
      .four.columns
        h2 Build Experiences:
        br
        +productList(experiences)
      .four.columns
        h2 Get Content:
        br
        +productList(content1)
      .four.columns
        <svg class="spacer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"></svg>
        +productList(content2)

  .container#pricing
    .row
      .seven.columns
        h2 Pricing
        p(style='margin-bottom:26px;') Frontend code is open source. APIs are freemium with generous free quotas.<br><a href="special-pricing.md">We provide special pricing for certified partners and platforms.</a>
    .row
      .twelve.columns
      table(style='width: 100%;')
        tr
          td.desc
            p(style='font-weight:300; vertical-align: middle;') Products:
          td.free
            p Explore
            p(style='font-weight:300;') A generous dose of 3D
            p Free
          td.pro
            p Professional
            p(style='font-weight:300;') Grow your user base
            p $25 / Month
          td.bus
            p Business
            p(style='font-weight:300;') Get what you need
            p Pay as you go
        tr
          td.desc App Creator<br>3D Editor<br>Furniture Library<br>Scene Library<br>Material Library
          td.free Included
          td.pro Included
          td.bus Included
        tr
          td.desc Floor Plan to 3D conversions
          td.free 10
          td.pro 50
          td.bus
            a(href='additional-floor-plan-conversions.md') (*)
        tr
          td.desc Matterport Imports
          td.free 30
          td.pro 25
          td.bus $ 2
        tr
          td.desc 3D Imports / Publishing
          td.free 50
          td.pro 100
          td.bus $ 0.50
        tr
          td.desc 3D Exports
          td.free 10
          td.pro 100
          td.bus $ 0.50
        tr
          td.desc 3D Asset Storage (GB transfer)
          td.free 10
          td.pro 100
          td.bus $ 0.20
        tr
          td.desc Lightmap Bakes - Low Resolution
          td.free 50
          td.pro 300
          td.bus $ 0.15
        tr
          td.desc Lightmap Bakes - High Resolution
          td.free 3
          td.pro 30
          td.bus $ 3.00
        tr
          td.desc Home Staging AI
          td.free 30
          td.pro 250
          td.bus $ 0.20
        tr
          td.desc 3D Modifications
          td.free 50
          td.pro 250
          td.bus $ 0.20
        tr
          td.desc
          td.free
            a.cta Get API Key
          td.pro
            a.cta Upgrade
          td.bus
            a.cta Bam!!

  .container#community
    .row
      .seven.columns
        h2 Community
        .icons

          //github
          //stack overflow
          //stack exchange
          //we get around
          //twitter
          //reddit
          //blender
        p 3d.io combines deep knowledge of architecture, design, 3D workflows, computer vision and coding to create visually stunning and powerful 3D interiors in the web – for everyone, anywhere, anytime. Go to places that no longer exist, that don’t exist yet and everything else in between.
    .row
      .twelve.columns
        p Active Core Contributors:
        #contributors
          a(href='https://github.com/m-ke')
            img(src='https://avatars2.githubusercontent.com/u/6909854?v=3&s=96', title='Monika Kedrova')
          a(href='https://github.com/PascalBabey')
            img(src='https://avatars1.githubusercontent.com/u/26972468?v=3&s=96', title='Pascal Babey')
          a(href='https://github.com/frederic-schwarz')
            img(src='https://avatars0.githubusercontent.com/u/7444615?v=3&s=96', title='Frederic Schwarz')
          a(href='https://github.com/CosimaLL')
            img(src='https://avatars3.githubusercontent.com/u/25457160?v=3&s=96', title='Cosima Lefranc')
          a(href='https://github.com/orgs/archilogic-com/people/bnjm')
            img(src='https://avatars3.githubusercontent.com/u/1694288?v=3&s=96', title='Ben Devine')
          a(href='https://github.com/Kasparlogic')
            img(src='https://avatars1.githubusercontent.com/u/7147627?v=3&s=96', title='Kaspar Helfrich')
          a(href='https://github.com/dburgauer')
            img(src='https://avatars1.githubusercontent.com/u/28351558?v=3&s=96', title='Dominique Burgauer')
          a(href='https://github.com/tomas-polach')
            img(src='https://avatars3.githubusercontent.com/u/6619499?v=3&s=96', title='Tomas Polach')
          a(href='https://github.com/david-tran-archilogic')
            img(src='https://avatars1.githubusercontent.com/u/23555744?v=3&s=96', title='David Tran')
          a(href='https://github.com/orgs/archilogic-com/people/AVGP')
            img(src='https://avatars3.githubusercontent.com/u/370246?v=3&s=96', title='Martin Splitt')
          a(href='https://github.com/stavros-papadopoulos')
            img(src='https://avatars2.githubusercontent.com/u/4816174?v=3&s=96', title='Stavros Papadopoulos')
          a(href='https://github.com/abiro')
            img(src='https://avatars1.githubusercontent.com/u/5764438?v=3&s=96', title='Agost Biro')
          a(href='https://github.com/Aadjou')
            img(src='https://avatars3.githubusercontent.com/u/25610447?v=3&s=96', title='Madlaina Kalunder')
          a(href='https://github.com/sjeftijssen')
            img(src='https://avatars3.githubusercontent.com/u/30081479?v=3&s=96', title='Sjef Tijssen')
          a(href='https://github.com/florian-j-meier')
            img(src='https://avatars0.githubusercontent.com/u/26925801?v=3&s=96', title='Florian Meier')

        //- p
        //-  a(href='contributors.md') Full contributor list
